@page "/lifeMAC"

<div class="frame">
    <!--Generic Frame used for all pages: FrameSTART -->


    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <div class="MACGreyBox">

        <div class="changeTitle readex32">What would you like to change?</div>

        <div class="MACWhiteBox">

            <table class="toChange">

                <tbody class="toChangeBody">
                    <tr>
                        <th class="inter14Green">Address: </th>
                        <td class="inter14">23 Links Road, Kennington, Oxford, OX1 5RX</td>
                        <td class="pressToChange inter14"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green">Tier of Cover: </th>
                        <td class="inter14">Gold (Mid Tier)</td>
                        <td class="pressToChange inter14"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green">Benefit Period: </th>
                        <td class="inter14">30 Days</td>
                        <td class="pressToChange inter14"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green">Benefit Type: </th>
                        <td class="inter14">Accident & Sickness</td>
                        <td class="pressToChange inter14"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green">Unemployment Covered: </th>
                        <td class="inter14">No</td>
                        <td class="pressToChange inter14"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green">Basis of Advice: </th>
                        <td class="inter14">Medical Hisory, GP Suggestion</td>
                        <td class="pressToChange inter14"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                </tbody>

            </table>

            <div class="disclaimer inter14">If you wish to discuss any of these options with us personally, please contact us at 
                <span class="inter14Red">01234 567 890</span> or by email at 
                <span class="inter14Red">support@Nsure.co.uk</span>
            </div>

        </div>

    </div>

</div> <!--Generic Frame used for all pages: FrameEND -->

<footer style="position: sticky;">
    <NsureProject.Components.FooterButtonsMAC>

    </NsureProject.Components.FooterButtonsMAC>
</footer>

@code {

}
