<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <div>
            <p>Want to log in using an Active Directory Account Press Here</p>
        </div>
        
    </NotAuthorized>
</AuthorizeView>
