@using NsureProject.Pages
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

          <div class="top-row ps-3 navbar navbar-dark">
             <div style="display: flex; width: 100%; padding-left: 34%;">
                 @if (!@IconMenuActive)
                {
                    <a class="navbar-brand" href="" style="font-family: Readex Pro; letter-spacing: 2.4px; color: #3C9072; margin-right: 0px">N</a>
                    <a class="navbar-brand" href="" style="font-family: Readex Pro; letter-spacing: 2.4px; margin-left: 0px">sure</a>
                }
                 <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                     <span class="navbar-toggler-icon"></span>
                 </button>
             </div>
         </div> 

        <AuthorizeView>
            <NotAuthorized>
                @if (context.User.Identity.IsAuthenticated)
                {
                    //Don't Show Login Button if user is already logged in
                   
                }
                else
                {
                    <div class="nav-item px-3">
                        <NavLink style="margin-top: 10px;" class="nav-link" href="login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>

                }

            </NotAuthorized>

            <Authorized>
            <div class="nav-item px-3">
                <NavLink style="margin-top:10px" class="nav-link" href="policySelect" Match="NavLinkMatch.All">
                    <span  class="oi oi-align-center" aria-hidden="true"></span>
                        @if (!@IconMenuActive)
                        {
                            <label>My Policies</label>
                        }
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="myCar" Match="NavLinkMatch.All">
                    <span class="oi oi-key" aria-hidden="true"></span>
                        @if (!@IconMenuActive)
                        {
                            <label>My Car</label>
                        }
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="myHome" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span>
                        @if (!@IconMenuActive)
                        {
                            <label>My Home</label>
                        }
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="myLife" Match="NavLinkMatch.All">
                    <span class="oi oi-heart" aria-hidden="true"></span>
                        @if (!@IconMenuActive)
                        {
                            <label>My Life</label>
                        }
                </NavLink>
            </div>

            <div class="bottom-row">
                <div class="icon-menu-arrow">
                    @if (!@IconMenuActive)
                    {
                        <span class="oi oi-arrow-left" style="color: white;" @onclick="ToggleIconMenu"></span>
                    }
                    else
                    {
                        <span class="oi oi-arrow-right" style="color: white;" @onclick="ToggleIconMenu"></span>
                    }
                </div>
            </div>

            </Authorized>
        </AuthorizeView>
        


    </nav>
</div>

@code {
    private bool IconMenuActive { get; set; } = false;

    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }
}
