@using NsureProject.Pages
<link rel="stylesheet" href="/Shared/NavMenu.razor.css" />




<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="Nsure">Nsure</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="policyHome" Match="NavLinkMatch.All">
                <span class="oi oi-align-center" aria-hidden="true"></span> My Policies
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myCar" Match="NavLinkMatch.All">
                <span class="oi oi-key" aria-hidden="true"></span> My Car
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myHome" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> My Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myLife" Match="NavLinkMatch.All">
                <span class="oi oi-heart" aria-hidden="true"></span> My Life
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
