/* _content/NsureProject/Shared/MainLayout.razor.rz.scp.css */
.page[b-7iz4lkzh76] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-7iz4lkzh76] {
    flex: 1;
}

.sidebar[b-7iz4lkzh76] {
    background-color: #3C9072;
}

.top-row[b-7iz4lkzh76] {
    background-color: #102920;
    border-bottom: 1px solid #102920;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-7iz4lkzh76]  a, .top-row .btn-link[b-7iz4lkzh76] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-7iz4lkzh76] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-7iz4lkzh76] {
        display: none;
    }

    .top-row.auth[b-7iz4lkzh76] {
        justify-content: space-between;
    }

    .top-row a[b-7iz4lkzh76], .top-row .btn-link[b-7iz4lkzh76] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-7iz4lkzh76] {
        flex-direction: row;
    }

    .sidebar[b-7iz4lkzh76] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-7iz4lkzh76] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-7iz4lkzh76], article[b-7iz4lkzh76] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/NsureProject/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-jjntpdi7gp] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-jjntpdi7gp] {
    height: 3.5rem;
    background-color: #102920;
}

.bottom-row[b-jjntpdi7gp] {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    text-align: right;
    width: 100%;
    padding-right: 28px;
}

.icon-menu-arrow[b-jjntpdi7gp] {
    text-align: right;
    align-self: center;
}

#menuCollapse[b-jjntpdi7gp] {
    width: 40px;
    height: 30px;
    color: #102920;
    background-color: #3C9072;
    border: 0px;
    border-radius: 9999px;
}

    #menuCollapse:hover[b-jjntpdi7gp] {
        background-color: #589c84;
    }

    #menuCollapse:active[b-jjntpdi7gp] {
        background-color: #70ac94;
    }

.navbar-brand[b-jjntpdi7gp] {
    font-size: 1.1rem;
}

.oi[b-jjntpdi7gp] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jjntpdi7gp] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jjntpdi7gp] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jjntpdi7gp] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jjntpdi7gp]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-jjntpdi7gp]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-jjntpdi7gp]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jjntpdi7gp] {
        display: none;
    }

    .collapse[b-jjntpdi7gp] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.iconMenuLogo[b-jjntpdi7gp] {
    display: flex;
    width: 100%;
    padding-left: 34%;
}

.companyLogoNSmall[b-jjntpdi7gp] {
    font-family: Readex Pro;
    letter-spacing: 2.4px;
    color: #3C9072;
    margin-right: 0px;
    padding-top: .3125rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.companyLogoNSmall:hover[b-jjntpdi7gp] {
    color:white;
}

.companyLogoNSmall:active[b-jjntpdi7gp] {
    color: #3C9072;
}

.companyLogoSureSmall[b-jjntpdi7gp] {
    font-family: Readex Pro;
    letter-spacing: 2.4px;
    margin-left: 0px;
}
