

.readex-pro-<Readex Pro> {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: <12>;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
}

.inter-<uniquifier > {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <12>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/*Generic Styles*/

.frame {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 28px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
}

.companyLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoText {
    display: flex;
    align-items: center;
}

.companyLogoN {
    color: #3C9072;
    font-family: "Readex Pro";
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 9.6px;
    display: inline-block;
}

.companyLogoSure {
    color: #000;
    font-family: "Readex Pro";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9.6px;
    display: inline-block;
}

.companyLogoCP {
    color: #000;
    font-family: "Readex Pro";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
    text-align: center;
}

/*Login Styles*/

.loginEntry {
    display: flex;
    flex-direction: column;
}

.loginInput {
    width: 313px;
    padding-left: 10px;
    height: 51px;
    font-size: 24px;
    background: #D9D9D9
}

.loginButton {
    display: flex;
    width: 232px;
    height: 35px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #000;
    box-shadow: -2px px 1px 1px rgba(0, 0, 0, 0.25);
    color: white;
    font-family: Inter;
    transition-duration: 0.3s;
}

.loginButton:hover {
    background-color: #3C9072;
    color: black;
}

.loginButton:active {
    background-color: white;
}

.alternateLoginContainer {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 50px 0;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    text-align: center
}

/*Generic fonts with differing sizes*/

.readex24 {
    color: #000;
    font-family: "Readex Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
}

.readex40 {
    color: #000;
    font-family: "Readex Pro";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4px;
}

.inter14Green {
    color: #3C9072;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 19.60px;
    word-wrap: break-word
}

.inter14 {
    color: black;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 19.60px;
    word-wrap: break-word
}

/*PolicySelect Page Styles*/

.policySelector {
    display: flex;
}

.policySelectWhiteBox {
    width: 303px;
    height: 89px;
    background: #FFF;
    margin-right: 14px;
    margin-left: 14px;
    margin-top: 0px;
    padding-top: 35px;
    padding-left: 5px;
}

/*PolicySelect Page Car Styles*/

.myCar { 
    width: 331px;
    height: 453px;
    background: #D9D9D9;
    margin-left: 16px;
    margin-right: 16px;
}

.myCarGif {
    width: 90%;
    height: auto;
    margin: 112px 12px 5px 16px;
}

/*PolicySelect Page Home Styles*/

.myHome {
    width: 331px;
    height: 453px;
    background: #D9D9D9;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
}

.myHomeGif {
    width: 90%;
    height: auto;
    margin: 112px 12px 5px 16px;
}

/*PolicySelect Page Life Styles*/

.myLife {
    width: 331px;
    height: 453px;
    background: #D9D9D9;
    margin-left: 16px;
    margin-right: 16px;
    
}

.myLifeGif {
    width: 90%;
    height: auto;
    margin: 100px 12px 5px 16px;
}

/*myPolicy Page Styles*/

.policyContainer {
    display: flex;
    flex-direction: row;
    width: 1060px;
    height: 453px;
    flex-shrink: 0;
    background: #D9D9D9;
}

.policyContainerWhiteBox {
    width: 715px;
    height: 429px;
    flex-shrink: 0;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    background-color: white;
}

.mySummary {
    display: flex;
    flex-direction: column;
    width: 331px;
    height: 453px;
    background: #D9D9D9;
    padding-top: 16px;
}

.dateTable {
    margin: 62px 30px 0px 30px;
    width: 650px;
}

.dateTable tr {
    border-bottom: 1px solid #000;
}

.dateTable td, th {
    padding-bottom: 15px;
    padding-top: 15px;
}

.dateTable td {
    text-align: right;
}

.summaryTable {
    flex-direction: column;
    width: 650px;
    margin: 40px 30px 0px 30px;
    
}

.summaryTable tr {
    border-bottom: 1px solid black;
}

.summaryTable td, .summaryTable th {
    padding-bottom: 15px;
    padding-top: 15px;
}

.summaryTable td {
    text-align: left;
}

.policyButtonSection {
    margin-top: 60px;
    margin-left: 30px;
}

.policyButtonSection span {
    margin-right: 32px;
}

.docsIcon {
    width: 50px;
    height: auto;
}

.editIcon {
    width: 65px;
    height: auto;
}

.paymentIcon {
    width: 70px;
    height: auto;
}

/*Footer Button Styles*/

.footerButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}

.footerButton {
    display: flex;
    width: 232px;
    height: 35px;
    padding: 14px 24px;
    margin: 27px 14px 0px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #000;
    box-shadow: -2px px 1px 1px rgba(0, 0, 0, 0.25);
    color: white;
    font-family: Inter;
    transition-duration: 0.3s;
}

.footerButton:hover {
    background-color: #3C9072;
    color: black;
}

.footerButton:active {
    background-color: white;
}