@page "/documents"

<div class="frame">
    <!--Generic Frame used for all pages: FrameSTART -->


    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <div class="docsGreyBox">

        <div class="docsTitle readex32">Documents for: FORD Mustang</div>

        <div class="docsWhiteBox">

            <table class="docsTable">

                <tbody class="docsTableBody">
                    <tr>
                        <th class="inter14Green">Policy Schedule - </th>
                        <td class="inter14">22/09/23</td>
                        <td class="pressToView inter14"> Press to view <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green">Proposal Confirmation - </th>
                        <td class="inter14">08/12/23</td>
                        <td class="pressToView inter14"> Press to view <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green">Renewal Invitation -  </th>
                        <td class="inter14">22/02/23</td>
                        <td class="pressToView inter14"> Press to view <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green">General Documents: </th>
                        <td class="inter14">Policy Booklet<br />Insurance Product Information Document<br />Claim Information Flyer</td>
                        <td class="pressToView inter14"> Press to view <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                </tbody>

            </table>

            <div class="disclaimer inter14">All documents can be requested in large print or Braille, please contact us at 
                <span class="inter14Red">01234 567 890</span> or by email at 
                <span class="inter14Red">support@Nsure.co.uk</span>
            </div>

        </div>

    </div>

</div> <!--Generic Frame used for all pages: FrameEND -->

<footer style="position: sticky;">
    <NsureProject.Components.FooterButtonsMAC>

    </NsureProject.Components.FooterButtonsMAC>
</footer>

@code {

}
