@page "/"
@using Microsoft.AspNetCore.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization

<link rel="stylesheet" href="/css/Global.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">


<AuthorizeView>

    <Authorized>
        <p>Sorry @context.User.Identity?.Name, You Are already logged in with Microsoft.</p>
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>

    <NotAuthorized>

        <div class="frame"><!--Generic Frame used for all pages: FrameSTART -->

            <NsureProject.Components.Logo>

            </NsureProject.Components.Logo>

            <!--Nsure Login fields and button-->
            <div class="loginEntry">

                <p style="margin-bottom: 0px; margin-top: 100px" class="readex24">Username</p>
                <input class="loginInput"/>
                <p style="margin-bottom: 0px" class="readex24">Password</p>
                <input type="password" class="loginInput" />

                <NavLink style="text-decoration: none; margin-top: 30px; align-self: center" href="policySelect" Match="NavLinkMatch.All">
                    <button class="loginButton">Login</button>
                </NavLink>

                <div style="display: flex; justify-content: center; align-items: center;">
                    <div class="alternateLoginContainer">
                        <p style="margin: 0 0 10px 0; font-size: 16px; color: #333; font-family: Inter;">
                            Don't have an account setup?
                        </p>
                        <a href="MicrosoftIdentity/Account/SignIn">
                            <img src="/images/microsoftLogin.png" />
                        </a>
                    </div>
                </div>

            </div>


        </div> <!--Generic Frame used for all pages: FrameEND -->
    </NotAuthorized>

</AuthorizeView>



@code {

}
