@page "/MAC"

<div class="frame">
    <!--Generic Frame used for all pages: FrameSTART -->


    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <div class="MACGreyBox">

        <div class="MACWhiteBox">

            <table class="toChange">

                <tr>
                    <th class="inter14Green">Address -</th>
                    <td class="inter14">23 Links Road, Kennington, Oxford, OX1 5RX</td>
                    <td class="pressToChange">Press to change<span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <th class="inter14Green">Tier of Cover -</th>
                    <td class="inter14">Gold (Mid Tier)</td>
                    <td class="pressToChange">Press to change<span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <th class="inter14Green">Registration -</th>
                    <td class="inter14">JH12 JSH</td>
                    <td class="pressToChange">Press to change<span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <th class="inter14Green">Make/Model -</th>
                    <td class="inter14">FORD Mustang EcoBoost 2.3L</td>
                    <td class="pressToChange">Press to change<span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <th class="inter14Green">Modifications -</th>
                    <td class="inter14">None Listed</td>
                    <td class="pressToChange">Press to change<span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                </tr>
                <tr>
                    <th class="inter14Green">Annual Mileage -</th>
                    <td class="inter14">6,000 Miles</td>
                    <td class="pressToChange">Press to change<span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                </tr>

            </table>

        </div>

    </div>

</div> <!--Generic Frame used for all pages: FrameEND -->

@code {

}
