@page "/myCar"

<div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 1178px; height: 1401px; left: 131px; top: 28px; position: absolute">
        <div style="width: 313px; height: 51px; left: 431px; top: 189px; position: absolute; background: #D9D9D9"></div>
        <div style="height: 170px; left: 431px; top: 69px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 315px"><span style="color: #3C9072; font-size: 96px; font-family: Readex Pro; font-weight: 700; letter-spacing: 9.60px; word-wrap: break-word">N</span><span style="color: black; font-size: 96px; font-family: Readex Pro; font-weight: 400; letter-spacing: 9.60px; word-wrap: break-word">sure</span></div>
            <div style="color: black; font-size: 40px; font-family: Readex Pro; font-weight: 400; letter-spacing: 4px; word-wrap: break-word">Client Portal</div>
        </div>
        <div style="width: 1060px; height: 453px; left: 59px; top: 789px; position: absolute">
            <div style="width: 1060px; height: 453px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-top-left-radius: 100px; border-top-right-radius: 2px; border-bottom-right-radius: 2px"></div>
            <div style="width: 344px; height: 89px; left: 703px; top: 352px; position: absolute; background: white"></div>
            <div style="width: 650px; height: 429px; left: 14px; top: 12px; position: absolute; background: white; border-top-left-radius: 100px"></div>
            <div style="left: 715px; top: 393px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 500; letter-spacing: 4px; word-wrap: break-word">Polestar 3</div>
            <img style="width: 331px; height: 220px; left: 703px; top: 132px; position: absolute" src="https://via.placeholder.com/331x220" />
            <div style="width: 171px; height: 64px; left: 14px; top: 377px; position: absolute">
                <img style="width: 64px; height: 64px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/64x64" />
                <div style="width: 107px; left: 64px; top: 12px; position: absolute; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">View Documents</div>
            </div>
            <div style="width: 128px; height: 60px; left: 217px; top: 378px; position: absolute">
                <img style="width: 74px; height: 60px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/74x60" />
                <div style="width: 54px; left: 74px; top: 13px; position: absolute; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Make a <br />change</div>
            </div>
            <div style="width: 150px; height: 54px; left: 417px; top: 382px; position: absolute">
                <img style="width: 66px; height: 54px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/66x54" />
                <div style="width: 72px; left: 78px; top: 9px; position: absolute; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">My Payments</div>
            </div>
            <div style="width: 391px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 241px; top: 261px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 375px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Address </span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">- 23 Links Road, Kennington, Oxford, OX1 5RX</span></div>
            </div>
            <div style="width: 191px; height: 58px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 42px; top: 254px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 173px; height: 54px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">No Claims Bonus</span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word"> - 4 Years</span></div>
            </div>
            <div style="width: 191px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 441px; top: 210px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 175px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Model </span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">- Polestar 3</span></div>
            </div>
            <div style="width: 191px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 241px; top: 210px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 175px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Make</span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word"> - Polestar</span></div>
            </div>
            <div style="width: 191px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 42px; top: 210px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 164px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Registration</span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word"> - JO5 HUA</span></div>
            </div>
            <div style="width: 590px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 42px; top: 120px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 451px; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Renewal Date</div>
                <div style="height: 20px; justify-content: flex-end; align-items: center; display: flex">
                    <div style="width: 151px; align-self: stretch; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.60px; word-wrap: break-word">22 September 2024</div>
                </div>
            </div>
            <div style="width: 590px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 42px; top: 69px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 451px; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Start Date</div>
                <div style="height: 20px; justify-content: flex-end; align-items: center; display: flex">
                    <div style="width: 151px; align-self: stretch; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.60px; word-wrap: break-word">22 September 2023</div>
                </div>
            </div>
        </div>
        <div style="width: 1060px; height: 453px; left: 59px; top: 286px; position: absolute">
            <div style="width: 1060px; height: 453px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-top-left-radius: 100px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px"></div>
            <div style="width: 358px; height: 89px; left: 14px; top: 352px; position: absolute; background: white"></div>
            <div style="left: 20px; top: 385px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 500; letter-spacing: 4px; word-wrap: break-word">FORD Mustang</div>
            <img style="width: 327px; height: 233px; left: 14px; top: 119px; position: absolute" src="https://via.placeholder.com/327x233" />
            <div style="width: 650px; height: 429px; left: 397px; top: 12px; position: absolute; background: white; border-top-left-radius: 100px"></div>
            <div style="width: 171px; height: 64px; left: 398px; top: 377px; position: absolute">
                <img style="width: 64px; height: 64px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/64x64" />
                <div style="width: 107px; left: 64px; top: 12px; position: absolute; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">View Documents</div>
            </div>
            <div style="width: 128px; height: 60px; left: 601px; top: 378px; position: absolute">
                <img style="width: 74px; height: 60px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/74x60" />
                <div style="width: 54px; left: 74px; top: 13px; position: absolute; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Make a <br />change</div>
            </div>
            <div style="width: 150px; height: 54px; left: 801px; top: 382px; position: absolute">
                <img style="width: 66px; height: 54px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/66x54" />
                <div style="width: 72px; left: 78px; top: 9px; position: absolute; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">My Payments</div>
            </div>
            <div style="width: 391px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 627px; top: 252px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 375px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Address </span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">- 23 Links Road, Kennington, Oxford, OX1 5RX</span></div>
            </div>
            <div style="width: 191px; height: 58px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 428px; top: 245px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 173px; height: 54px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">No Claims Bonus</span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word"> - 4 Years</span></div>
            </div>
            <div style="width: 191px; height: 61px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 827px; top: 191px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 175px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Model </span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">- Mustang EcoBoost 2.3</span></div>
            </div>
            <div style="width: 191px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 627px; top: 201px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 175px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Make</span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word"> - Ford</span></div>
            </div>
            <div style="width: 191px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 428px; top: 201px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 164px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Registration</span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word"> - JH12 JSH</span></div>
            </div>
            <div style="width: 590px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 428px; top: 111px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 451px; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Renewal Date</div>
                <div style="height: 20px; justify-content: flex-end; align-items: center; display: flex">
                    <div style="width: 151px; align-self: stretch; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.60px; word-wrap: break-word">22 September 2024</div>
                </div>
            </div>
            <div style="width: 590px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 428px; top: 60px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 451px; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Start Date</div>
                <div style="height: 20px; justify-content: flex-end; align-items: center; display: flex">
                    <div style="width: 151px; align-self: stretch; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.60px; word-wrap: break-word">22 September 2023</div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 232px; height: 35px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px; left: 1169px; top: 1401px; position: absolute; background: black; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Log out</div>
    </div>
    <div style="width: 232px; height: 35px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px; left: 910px; top: 1401px; position: absolute; background: black; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Back to My Policies</div>
    </div>
</div>

@code {

}
