@page "/myCar"

<div class="frame"><!--Generic Frame used for all pages: FrameSTART -->

    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <!--Policy Summary-->
    <div class="policyContainer">

        <div style="padding-top: 27px" class="mySummary">
            <img class="myHomeGif" src="/images/mustang.gif" alt="House" />

            <div class="policySelectWhiteBox">
                <span class="readex40">JH12 JSH</span>
            </div>
        </div>

        <div class="policyContainerWhiteBox">

            <table class="dateTable">
                <tr>
                    <th class="inter14Green">Start date</th>
                    <td class="inter14">22 September 2023</td>
                </tr>
                <tr>
                    <th class="inter14Green">Renewal date</th>
                    <td class="inter14">22 September 2024</td>
                </tr>
            </table>

            <table class="summaryTable">
                <tr class="topRow">
                    <th class="inter14Green">Registration</th>
                    <td class="inter14">JH12 JSH</td>

                    <th class="inter14Green">Make/Model</th>
                    <td class="inter14">Ford Mustang</td>

                    <th class="inter14Green">Excess</th>
                    <td class="inter14">£500</td>
                </tr>
                <tr class="bottomRow">
                    <th class="inter14Green">No Claims Bonus</th>
                    <td class="inter14">4 Years</td>

                    <th class="inter14Green">Address</th>
                    <td class="inter14" colspan="3">23 Links Road, Kennington, Oxford</td>
                </tr>
            </table>

            <div class="policyButtonSection">

                <NavLink style="text-decoration: none" href="documents" Match="NavLinkMatch.All">
                    <img src="/images/docs.png" class="docsIcon" />
                    <span class="inter14Green">View Documents</span>
                </NavLink>

                <NavLink style="text-decoration: none" href="MAC" Match="NavLinkMatch.All">
                    <img src="/images/edit.png" class="editIcon" />
                    <span class="inter14Green">Make a Change</span>
                </NavLink>

                <NavLink style="text-decoration: none" href="paymentSummary" Match="NavLinkMatch.All">
                    <img src="/images/payments.png" class="paymentIcon" />
                    <span class="inter14Green">My Payments</span>
                </NavLink>

            </div>

        </div>

    </div>


</div> <!--Generic Frame used for all pages: FrameEND -->

<footer style="position: sticky;">
    <NsureProject.Components.FooterButtons>

    </NsureProject.Components.FooterButtons>
</footer>

@code {

}
