@page "/myLife"

<link rel="stylesheet" href="/css/Global.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<div class="frame"><!--Generic Frame used for all pages: FrameSTART -->

    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <!--Policy Summary-->
    <div class="policyContainer">

        <div class="mySummary">
            <img class="myHomeGif" src="/images/hospital.gif" alt="House" />

            <div class="policySelectWhiteBox">
                <span class="readex40">Simon Smith</span>
            </div>
        </div>

        <div class="policyContainerWhiteBox">

            <table class="dateTable">
                <tr>
                    <th class="inter14Green">Start date</th>
                    <td class="inter14">22 September 2023</td>
                </tr>
                <tr>
                    <th class="inter14Green">Renewal date</th>
                    <td class="inter14">22 September 2024</td>
                </tr>
            </table>

            <table class="summaryTable">
                <tr class="topRow">
                    <th class="inter14Green">Cover Type</th>
                    <td class="inter14">Accident & Sickness</td>

                    <th class="inter14Green">Benefit Amount</th>
                    <td class="inter14">£25,000</td>

                    <th class="inter14Green">Benefit Period</th>
                    <td class="inter14">30 Days</td>
                </tr>
                <tr class="bottomRow">
                    <th class="inter14Green">Tier</th>
                    <td class="inter14">Gold Cover</td>

                    <th class="inter14Green">Basis of Advice</th>
                    <td class="inter14" colspan="3">Medical History, GP Reccomendation</td>
                </tr>
            </table>

            <div class="policyButtonSection">

                <NavLink style="text-decoration: none" href="EMPTY" Match="NavLinkMatch.All">
                    <img src="/images/docs.png" class="docsIcon" />
                    <span class="inter14Green">View Documents</span>
                </NavLink>

                <NavLink style="text-decoration: none" href="EMPTY" Match="NavLinkMatch.All">
                    <img src="/images/edit.png" class="editIcon" />
                    <span class="inter14Green">Make a Change</span>
                </NavLink>

                <NavLink style="text-decoration: none" href="EMPTY" Match="NavLinkMatch.All">
                    <img src="/images/payments.png" class="paymentIcon" />
                    <span class="inter14Green">My Payments</span>
                </NavLink>

            </div>

        </div>

    </div>

    <NsureProject.Components.FooterButtons>

    </NsureProject.Components.FooterButtons>

</div> <!--Generic Frame used for all pages: FrameEND -->
@code {

}
