@page "/myLife"

<div style="width: 100%; height: 100%; padding-left: 131px; padding-right: 131px; padding-top: 28px; padding-bottom: 28px; background: white; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 1178px; height: 968px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="height: 170px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 315px"><span style="color: #3C9072; font-size: 96px; font-family: Readex Pro; font-weight: 700; letter-spacing: 9.60px; word-wrap: break-word">N</span><span style="color: black; font-size: 96px; font-family: Readex Pro; font-weight: 400; letter-spacing: 9.60px; word-wrap: break-word">sure</span></div>
            <div style="color: black; font-size: 40px; font-family: Readex Pro; font-weight: 400; letter-spacing: 4px; word-wrap: break-word">Client Portal</div>
        </div>
        <div style="width: 313px; height: 51px; background: #D9D9D9"></div>
        <div style="width: 1060px; height: 453px; position: relative">
            <div style="width: 1060px; height: 453px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-top-left-radius: 100px"></div>
            <div style="width: 303px; height: 89px; left: 15px; top: 351px; position: absolute; background: white"></div>
            <div style="left: 24px; top: 384px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 500; letter-spacing: 4px; word-wrap: break-word">Simon Smith</div>
            <img style="width: 271px; height: 256px; left: 31px; top: 95px; position: absolute" src="https://via.placeholder.com/271x256" />
            <div style="width: 650px; height: 429px; left: 393px; top: 11px; position: absolute; background: white; border-top-left-radius: 100px"></div>
            <div style="width: 171px; height: 64px; left: 398px; top: 377px; position: absolute">
                <img style="width: 64px; height: 64px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/64x64" />
                <div style="width: 107px; left: 64px; top: 12px; position: absolute; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">View Documents</div>
            </div>
            <div style="width: 128px; height: 60px; left: 601px; top: 378px; position: absolute">
                <img style="width: 74px; height: 60px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/74x60" />
                <div style="width: 54px; left: 74px; top: 13px; position: absolute; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Make a <br />change</div>
            </div>
            <div style="width: 150px; height: 54px; left: 801px; top: 382px; position: absolute">
                <img style="width: 66px; height: 54px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/66x54" />
                <div style="width: 72px; left: 78px; top: 9px; position: absolute; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">My Payments</div>
            </div>
            <div style="width: 391px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 627px; top: 252px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 375px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Basis of Advice </span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">- Medical History, GP Suggestion</span></div>
            </div>
            <div style="width: 191px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 428px; top: 252px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 157px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Tier</span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word"> - Platinum Cover</span></div>
            </div>
            <div style="width: 191px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 827px; top: 201px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 167px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Benefit Period </span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">- 30 Days</span></div>
            </div>
            <div style="width: 191px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 627px; top: 201px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 175px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Benefit Amount</span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word"> - £25,000</span></div>
            </div>
            <div style="width: 191px; height: 63px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 428px; top: 189px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 157px"><span style="color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Cover Type</span><span style="color: black; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word"> - Accident & Sickness</span></div>
            </div>
            <div style="width: 590px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 428px; top: 111px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 451px; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Renewal Date</div>
                <div style="height: 20px; justify-content: flex-end; align-items: center; display: flex">
                    <div style="width: 151px; align-self: stretch; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.60px; word-wrap: break-word">22 September 2024</div>
                </div>
            </div>
            <div style="width: 590px; height: 51px; padding-left: 16px; padding-right: 16px; padding-top: 14px; padding-bottom: 14px; left: 428px; top: 60px; position: absolute; border-bottom: 1px black solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="width: 451px; color: #3C9072; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 19.60px; word-wrap: break-word">Start Date</div>
                <div style="height: 20px; justify-content: flex-end; align-items: center; display: flex">
                    <div style="width: 151px; align-self: stretch; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.60px; word-wrap: break-word">22 September 2023</div>
                </div>
            </div>
        </div>
        <div style="width: 232px; height: 35px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px; background: black; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
            <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Back to My Policies</div>
        </div>
        <div style="width: 232px; height: 35px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px; background: black; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); border-radius: 8px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
            <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Log out</div>
        </div>
    </div>
</div>

@code {

}
